<div>
  <Button actionType='"SUBMIT"'>SUBMIT</Button>
  <Button actionType='"PUSH"' path='["list"]' item='"{{value}}"'>PUSH</Button>
  {{#each list}}<p>Foo {{math @index "+" 1}}: {{this}}</p>{{/each}}
    Input: <Input type='"text"' path='["value"]' style='{
      "backgroundColor": "pink",
      "color": "blue",
      "padding": 10
    }' />
  <p>Value: {{value}}</p>
</div>
