<div>
    <p>When was the war of 1812?</p>
    <p>Answer: <Input type='"text"'
        path='["answer"]'
        style='{"fontWeight": "bold", "backgroundColor": "{{backgroundColor}}"}'/></p>
    <ButtonGroup><BsButton actions='[["SUBMIT"]]' bsStyle='"primary"'>SUBMIT</BsButton>
  <BsButton actions='[["CLEAR"]]'>CLEAR</BsButton></ButtonGroup>
      <Input type='"checkbox"' path='["checked"]' />
</div>
