<Panel>
<FormGroup controlId='"radio-group"'>
<div><Input type='"radio"' value='"apple"' path='["fruit"]'/> Apple
<Input type='"radio"' value='"orange"' path='["fruit"]'/> Orange</div>
<div><Input type='"radio"' value='"banana"' path='["fruit"]'/> Banana</div>
</FormGroup>
  <TeX displayMode='true'>{{e1}}</TeX>
  <TeX displayMode='true'>{{e2}}</TeX>
  <TeX displayMode='true'
    style='{"color": "red"}'>\int_1^2\left({{e3}}\right)dx</TeX>
  <BsButton bsStyle='"primary"'
  actions='[["CHANGE", ["e1"], "x^2-y^2=(x-y)(x+y)"]]'>Click</BsButton>
</Panel>
